/*
I keep this here so I can quickly copy and paste it and review my margins etc.

* {
    border: 1px solid red !important;
}
*/

body, html {
    height: 100%;
}

* {
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Styling for the home page*/

#header-image-row {
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}

#header-text-row {
    text-align: center;
    font-weight: bold;
}

#header-image-row img {
    display: block;
    margin: 0 auto;
}

#portfolio-portrait {
    max-width: 100vh;
    max-height: 50vh;
    height: auto;
    margin-left: -1.5%;
    margin-bottom: 15px;
    border-radius: 50%;
}

#subheader-text-row {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#tiles-row {
    margin-bottom: 14px;
    padding-left: 20%;
    padding-right: 20%;
}

#web-projects-tile {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
}

#android-projects-tile {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
}

#resume-tile {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
}

#about-me-tile {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.hover-effect figure img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover-effect figure:hover img {
    opacity: 0.7;
}

/*Styling for the about page*/

#about-main-row {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
}

#about-portrait {
    max-width: 100vh;
    max-height: 100vh;
    height: auto;
    margin-left: -3%;
}

#about-text {
    text-align: justify;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.nebula-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

#nebula-1 {
    max-width: 100%;
    height: auto;
    float: right;
}

#nebula-2 {
    max-width: 100%;
    height: auto;
}

#nebula-3 {
    max-width: 100%;
    height: auto;
}

#nebula-4 {
    max-width: 100%;
    height: auto;
}

/*Determines how the nebula grid behaves on xs devices - I haven't quite figured out media queries yet
but the idea is that even smaller screens should maintain the grid and scale down the images to
compensate
@media screen and (min-width: 320px) {
  .nebula-grid{
    flex-wrap: wrap-reverse;
    justify-content: center;
    display: inline-block;
    width: 50%;
    padding-bottom: 10%;
  }
}
*/
/*Determines how the nebula grid behaves on sm devices
@media only screen and (min-width: 480px) {
}
*/

/*Source for this effect: https://miketricking.github.io/bootstrap-image-hover/*/
.hover-effect-nebula {
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hover-effect-nebula .overlay-nebula {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hover-effect-nebula:hover .overlay-nebula {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hover-effect-nebula img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hover-effect-nebula:hover img {
    -webkit-filter: brightness(0.6);
}

.hover-effect-nebula h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hover-effect-nebula a, .hover-effect-nebula p {
    color: #fff;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hover-effect-nebula:hover a, .hover-effect-nebula:hover p, .hover-effect-nebula:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}