/*
* {
    border: 1px solid red !important;
}
*/
* {
    border: 1px solid red !important;
}

* {
    font-family: 'Raleway', sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#portfolio_portrait{
    background-image: url("kaiser_portfolio_2.jpg");
    float: left;
    max-width:100vh;
    max-height:100vh;
    margin-left: -3%;
}

/*
#portfolio_portrait {
    max-width: 100vh;
    max-height: 100vh;
    height: auto;
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
} */

.content_area {
    padding-top: 150px;
    padding-right: 75px;
}

#title_text {
    font-weight: bold
}

#subtitle_text {
    font-weight: 100;
}

#header_text {
}

#description_text {
    text-align: justify;
}

#project_list {
    margin-top: 75px;
    margin-bottom: 15px;
}

.project-img {
    height: 150px;
    width: 150px;
}

.blur img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blur img:hover {
    -webkit-filter: blur(1px);
}

#project_1 {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

#project_2 {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

#project_3 {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

.social_icon {
    opacity: 0.3;
    filter: alpha(opacity=50);
    height: auto;
    margin: 20px 0;
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#instagram_logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

#github_logo {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}